In [ ]:
1.建立数据库连接(db = pymysql.connect(...))
    db = pymysql.connect(参数列表)
    host : 主机地址,本地 localhost
    port :端口号,默认3306
    user : 用户名
    password :密码
    database :库
    charset : 编码方式,推荐使用 utf8
    
    db.commit() 提交到数据库执行
    db.rollback() 回滚
    cur = db.cursor() 返回游标对象,用于执行具体SQL命令
    db.close() 关闭连接
                     

2.创建游标对象(c = db.cursor())
    cur.execute(sql命令,[列表]) 执行SQL命令
    cur.close()关闭游标对象
    cur.fetchone()获取查询结果集的第一条数据(1,100001,"河北”)
    cur.fetchmany(n) 获取n条((记录1),(记录2))
    cur.fetchall() 获取所有记录

3.游标方法: c.execute("insert ....")

4.提交到数据库db.commit()

5.关闭游标对象 : c.close()

6.断开数据库连接 : db.close()

# PyMySQL写操作

In [2]:
import pymysql

# 连接数据库
db = pymysql.connect(host='localhost',
                     port=3306,
                     user='root',
                     password='wht2010@',
                     database='stu',
                     charset='utf8')

# 获取游标（用来操作数据库，执行sql语句）
cur = db.cursor()

# 写sql语句
sql = "insert into class values (5, 'immmt', 18, 'm', 80.8);"
# 执行sql语句
cur.execute(sql)

# 将写操作提交，多次写操作一同提交
db.commit()

# 关闭数据库
cur.close()
db.close()

# PyMySQL读操作

In [6]:
import pymysql

# 连接数据库
db = pymysql.connect(host='localhost',
                     port=3306,
                     user='root',
                     password='wht2010@',
                     database='stu',
                     charset='utf8')

# 获取游标（用来操作数据库，执行sql语句）
cur = db.cursor()

# 获取数据库数据
sql = "select * from class where gender='m'"
cur.execute(sql)

# 获取一个查询结果
# one_row = cur.fetchone()
# print(one_row)

# 获取多个查询结果
# many_row = cur.fetchmany(2)
# print(many_row)

# 获取全部查询结果
all_row = cur.fetchall()
print(all_row)

# 关闭数据库
cur.close()
db.close()

((2, 'immt', 28, 'm', 92.2), (3, 'sutang', 38, 'm', 92.0), (5, 'immmt', 18, 'm', 80.8))

# PyMySQL写操作

## 方法1，将变量插入到sql语句中合成

In [7]:
import pymysql

# 连接数据库
db = pymysql.connect(host='localhost',
                     port=3306,
                     user='root',
                     password='wht2010@',
                     database='stu',
                     charset='utf8')

# 获取游标（用来操作数据库，执行sql语句）
cur = db.cursor()

try:
    # 写sql语句
    # sql = "insert into class values (6, 'Tina', 28, 'w', 88.8);"
    name = input('Name:')
    age = int(input('Age:'))
    score = float(input('Score:'))
    # 传参数的时候，sql语句里有引号的需要继续加上
    sql = f"insert into class (name, age, score) values ('{name}', {age}, {score})"
    # 执行sql语句
    cur.execute(sql)
    # 提交
    db.commit()
except Exception as e:
    db.rollback()
    print(e)


# 关闭数据库
cur.close()
db.close()

Name: Alex
Age: 24
Score: 98.2

## 方法2，使用列表直接给sql语句的values传值

In [8]:
import pymysql

# 连接数据库
db = pymysql.connect(host='localhost',
                     port=3306,
                     user='root',
                     password='wht2010@',
                     database='stu',
                     charset='utf8')

# 获取游标（用来操作数据库，执行sql语句）
cur = db.cursor()

try:
    # 写sql语句
    # sql = "insert into class values (6, 'Tina', 28, 'w', 88.8);"
    name = input('Name:')
    age = input('Age:')
    score = input('Score:')
    # 传参数的时候，sql语句里有引号的需要继续加上
    sql = "insert into class (name, age, score) values (%s, %s, %s)"
    # 执行sql语句,给values的%s传值
    cur.execute(sql,[name, age, score])
    # 提交
    db.commit()
except Exception as e:
    db.rollback()
    print(e)


# 关闭数据库
cur.close()
db.close()

Name: Tom
Age: 32
Score: 86.3

 # PyMySQL修改操作

In [10]:
import pymysql

# 连接数据库
db = pymysql.connect(host='localhost',
                     port=3306,
                     user='root',
                     password='wht2010@',
                     database='stu',
                     charset='utf8')

# 获取游标（用来操作数据库，执行sql语句）
cur = db.cursor()

try:
    # 写sql语句
    sql = "update class set gender='m' where name = 'Alex'"
    cur.execute(sql)
    db.commit()
except Exception as e:
    db.rollback()
    print(e)


# 关闭数据库
cur.close()
db.close()

# PyMySQL删除操作

In [11]:
import pymysql

# 连接数据库
db = pymysql.connect(host='localhost',
                     port=3306,
                     user='root',
                     password='wht2010@',
                     database='stu',
                     charset='utf8')

# 获取游标（用来操作数据库，执行sql语句）
cur = db.cursor()

try:
    # 写sql语句
    sql = "delete from class where score < 87"
    cur.execute(sql)
    db.commit()
except Exception as e:
    db.rollback()
    print(e)


# 关闭数据库
cur.close()
db.close()